.add_btn{
    text-align: right;
}
.container{
    overflow: auto;
}

.left{
    font-size: 21px;
}
.left p{
    font-weight: 600;
}
.left span{
    font-weight: 400;
}
.detail_btn{
    float: right;
}

.right{
    font-size: 21px;
}
.right p{
    font-weight: 600;
}
.right span{
    font-weight: 400;
}
